@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Inconsolata:wght@500&display=swap");

body {
  font-family: "Inconsolata", monospace;
  color: gray;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: gray;
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: green;
  border-bottom-color: green;
}

.logo-title {
  text-decoration: underline;
  color: gray;
  font-family: "Bungee", cursive !important;
  font-size: 0.8em;
}
.navbarToggle {
  text-align: center;
}